#item1 { grid-area: header;
text-align: center;}
#item2 { grid-area: left; 
    line-height: 80%;}
#item3 { grid-area: right;
line-height: 20%;}
#item4 { grid-area: footer;}
          
.grid-container {
    display: grid;
    grid-template-areas:
    'header header header'
    'left right right'
    'footer footer footer';
    grid-template-rows: 130px;

    border-radius: 15px;
    border: 2px solid #350f61;
    grid-gap: 10px;
    background-color: #350f61;
    padding: 10px;
}
          
.grid-container > div {
    border-radius: 15px;
    border: 2px solid #350f61;
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
         

body {font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;  
    }

    textarea {resize: none;}

    #InviteHeader {
        font-family: cursive;
        font-weight: bold;
        text-align: center; 
        color: #350f61;
        font-size:  60px;
    } 
    
    #inviteInstructions {
        display: block;
        margin:auto;
        font-size: 25px;
   }

  #INTRO {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        line-height: 100%;
    }

  #INVITED {
      font-family: cursive;
      font-weight: bolder;
      font-size: 40px;
    }

  #NAME1, #NAME2  {
        font-family: cursive;
        font-weight: bolder;
        font-size: 50px;
    }

    #DATE, #TIME, #VENUE {
        font-weight: bold;
        font-size: 30px;
    }

    #ADDRESS {
        font-weight: bold;
        font-size: 25px;
        line-height: 85%;
    }

    #RSVP {
        font-weight:bold;
        font-size: 20px;
    }

   .INFO {
        font-size: 20px;
    }

   .button {
       background-color:#350f61;
       border: none;
        border-radius: 12px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer
    }

    
    #pride:hover {
        color: black;
        background-image:     linear-gradient(
           #E7484F,
           #E7484F 16.65%,
           #F68B1D 16.65%,
           #F68B1D 33.3%,
           #FCED00 33.3%,
           #FCED00 49.95%,
           #009E4F 49.95%,
           #009E4F 66.6%,
           #00AAC3 66.6%,
           #00AAC3 83.25%,
           #732982 83.25%,
           #732982 100%,
           #E7484F 100%
        );
    }
    #trans:hover {
        color: black;
        background-image:     linear-gradient(
           rgb(85,205,252),
           rgb(85,205,252) 20%,
           rgb(247,168,184) 20%,
           rgb(247,168,184) 40%,
           white 40%,
           white 60%,
           rgb(247,168,184) 60%,
           rgb(247,168,184) 80%,
           rgb(85,205,252)80%,
           rgb(85,205,252) 100%,
           rgb(85,205,252) 100%
        );
    }

    #pan:hover {
        color: black;
        background-image:     linear-gradient( 
           rgb(255,33,140),
           rgb(255,33,140) 33.3%,
           rgb(255,216, 0) 33.3%,
           rgb(255,216, 0) 66.6%,
           rgb(27,179,255) 66.6%,
           rgb(27,179,255) 100%,
           rgb(255,33,140) 100%
        );
    }
    #bi:hover {
        color: black;
        background-image:     linear-gradient(
           rgb(215, 2, 112),
           rgb(215, 2, 112) 20%,
           rgb(215, 2, 112) 20%,
           rgb(215, 2, 112) 40%,
           rgb(115,79,150) 40%,
           rgb(115,79,150) 60%,
           rgb(0, 56, 168) 60%,
           rgb(0, 56, 168) 80%,
           rgb(0, 56, 168)80%,
           rgb(0, 56, 168) 100%,
           rgb(215, 2, 112) 100%
        );
    }

    #ace:hover {
        color: black;
        background-image:     linear-gradient( 
            black,
            black 33.3%,
           white 33.3%,
           white 66.6%,
           rgb(128, 0, 128) 66.6%,
           rgb(128, 0, 128) 100%,
           rgb(128, 0, 128) 100%
        );
    }

   #lesbian:hover {
    color: black;
        background-image:     linear-gradient(
           rgb(214, 41, 0),
           rgb(214, 41, 0) 20%,
           rgb(255, 155, 85) 20%,
           rgb(255, 155, 85) 40%,
           white 40%,
           white 60%,
           rgb(212, 97, 166) 60%,
           rgb(212, 97, 166) 80%,
           rgb(165, 0, 98)80%,
           rgb(165, 0, 98) 100%,
           rgb(165, 0, 98) 100%
        );
    }
   
        