

.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { grid-area: left2; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
          
.grid-container {
display: grid;
grid-template-areas:
'header header header'
'left right right'
'left2 right right'
'footer footer footer';
grid-gap: 10px;
background-color: #5611a5;
padding: 10px;
}
          
.grid-container > div {
background-color: white;
text-align: center;
padding: 20px 0;
font-size: 30px;
}
         

body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
   
  }