

.item1 { grid-area: header; }
.item2 { grid-area: left;}
.item3 { grid-area: left2; }
#item4 { grid-area: right;}
.item5 { grid-area: footer; background-image: linear-gradient(#00c3ff, rgb(237, 158, 230), white, rgb(237, 158, 230),#00c3ff);
}
          
.grid-container {
display: grid;
grid-template-areas:
'header header header'
'left right right'
'left2 right right'
'footer footer footer';
border-radius: 25px;
border: 2px solid #5611a5;
grid-gap: 10px;
background-color: #5611a5;
padding: 10px;
}
          
.grid-container > div {
border-radius: 25px;
border: 2px solid #5611a5;
background-color: white;
text-align: center;
padding: 20px 0;
font-size: 30px;
}
         

body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
   
  }


  

  #INTRO {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    }

  #INVITED {
      font-family: cursive;
      font-weight: bolder;
      font-size: 40px;
    }

  #NAME1, #NAME2  {
    font-family: cursive;
    font-weight: bolder;
    font-size: 50px;
    line-height: 10%;
    }


   